:root {
  --borders: rgb(0, 208, 255);
  --shadow: rgb(84, 224, 255);
}
@font-face {
  font-family: "gamelike";
  src: url(Fonts/Caveat_Brush/CaveatBrush-Regular.ttf) format("truetype");
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: large;
  font-family: gamelike;
}
.info {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 65%;
  padding: 8px 15px;
  border: 3px dashed var(--borders);
  box-shadow: 2px 1px 7px 0px var(--shadow);
  background-color: aliceblue;
}
.container-easy {
  margin: 20px auto;
  display: grid;
  width: 65%;
  gap: 15px;
  justify-content: center;
  height: 630px;
  grid-template-columns: repeat(5, calc(20% - 12px));
  grid-template-rows: repeat(4, 24%);
  perspective: 700px;
}
.container-hard {
  margin: 20px auto;
  display: grid;
  width: 65%;
  gap: 15px;
  justify-content: center;
  height: 630px;
  grid-template-columns: repeat(6, calc(16.7% - 12px));
  grid-template-rows: repeat(5, 19%);
  perspective: 700px;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 1px 7px 0px var(--shadow);
  border: 2px solid var(--borders);
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.cards div {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}
i {
  font-size: 6.5vw;
}
.front {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}
.back {
  background: rgb(58, 57, 57);
}
.is-flipped {
  transform: rotateY(-180deg);
}
.is-done {
  transform: rotateY(-180deg);
}
.cards:hover {
  cursor: pointer;
}
button {
  background-color: white;
  padding: 2px 10px;
  border-radius: 20px;
  border: 2px solid #eee;
}
button:hover {
  cursor: pointer;
  background: rgb(255, 255, 47);
}
.active {
  background-color: rgb(255, 255, 88);
}
.special {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 12%;
  height: 7%;
  font-size: xx-large;
  transform: translate(50%, -50%);
  z-index: 10;
}
.cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  background: #0799b7;
  opacity: 0.5;
  top: 0;
  right: 0;
}
.restart {
  display: none;
  position: absolute;
  top: 50%;
  right: 50%;
  width: 12%;
  height: 7%;
  background-color: rgb(153, 255, 0);
  color: black;
  font-size: xx-large;
  transform: translate(50%, -50%);
  z-index: 10;
}
@media (max-width: 1350px) {
  .info {
    width: 90%;
  }
  .container-easy,
  .container-hard {
    width: 90%;
    gap: 15px;
  }
  .special,
  .restart {
    width: 17%;
    height: 7%;
    font-size: x-large;
  }
}
@media (max-width: 740px) {
  .info {
    width: 95%;
  }
  .container-easy {
    width: 95%;
    gap: 15px;
    grid-template-rows: repeat(4, 12%);
  }
  .container-hard {
    width: 95%;
    gap: 15px;
    grid-template-rows: repeat(5, 12%);
  }
  .special,
  .restart {
    width: 25%;
    height: 7%;
    font-size: large;
  }
}
.cards.hard {
  display: none;
}
